/*WAMODE*/
/*!important*/
body{
background-color:#00bfa5!important;
}

._2WP9Q{
background-color:#00bfa5!important;
}
.X7YrQ{
background-color:lightgreen;
}
._19RFN{
color:white;
font-family:jocker;
}
._3vpWv{
background-color:#00bfa5!important;
}


/*message-counter-baackground*/
._P6z4j{
background-color:#000000!important;
}

/*Chat Background-color*/
._NuujD{
background-color:black!important;
}

/*chat-background*/
._1_keJ{
background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.616),rgba(255, 255, 255, 0.651));
margin:0;
width:20pc;
height:20pc;
}

._2i7Ej{
background-color:#00bfa5!important;
opacity:1;
}

/*Header variables*/
._3O0po{
background-color:#00bfa5!important;
opacity:1;
}
._3fs0K{
background-color:#00bfa5!important;
opacity:1;
}
._3Jvyf{
background-color:#00bfa5!important;
opacity:1;
}
.ZP8RM{
background-color:#00bfa5!important;
opacity:1;
}
._3V5x5{
background-color:#00bfa2!important;
opacity:1;
}
